@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
  background-color: var(--BGCOLOR-PRIMARY);
  color: var(--TEXT-PRIMARY);
  color-scheme: dark;
}

@layer base {
  :root {
    --BRAND: rgb(249 115 22); /*  orange-500 */
    --BRAND-SECONDARY: #1e293b; /*  slate-800 */

    --TEXT-PRIMARY: rgb(230, 230, 230);
    --TEXT-SECONDARY: rgb(163 163 163);
    --TEXT-HIGHLIGHT: rgb(243 244 246);

    --BGCOLOR-PRIMARY: #0369a1; /*  sky-700 */
    --BGCOLOR-SECONDARY: rgb(43, 43, 43);
    --BGCOLOR-HIGHLIGHT: #1e293b; /*  slate-800 */
  }
}

@layer components {
  .large-text {
    @apply text-lg sm:text-xl md:text-2xl lg:text-3xl text-TEXT-HIGHLIGHT whitespace-nowrap;
  }

  .medium-text {
    @apply text-base sm:text-lg md:text-xl lg:text-2xl  text-center;
  }

  .square-in-the-center {
    @apply fixed 
    top-[50%] 
    left-[50%]  
    translate-x-[-50%] 
    translate-y-[-50%] 
    
  
    bg-slate-800/40 
    backdrop-blur-[5px]
    rounded-lg 
    border 
    border-BGCOLOR
    drop-shadow-[5px_5px_5px_5px_rgba(222,224,228,0.9)] 
     
    w-[63dvw] 
    h-[70dvh]
    md:h-[63dvh] 
    min-w-[320px]
    
    px-[7dvw]
  
    
    flex flex-col items-center justify-center;
  }

  /*   .image-blob {
    @apply hover:scale-450 hover:max-h-[80dvh] hover:max-w-[80dvw] hover:aspect-[889/500] hover:rounded-md hover:shadow-[0_0_50px_50px_rgba(0,0,0,0.6)]  transition-all;
  } */
}

.image-blob:hover,
.image-blob:focus {
  transform: scale(1.5);
  box-shadow: 0 0 18px 18px rgba(0, 0, 0, 0.6);
}

@media (min-width: 640px) {
  .image-blob:hover,
  .image-blob:focus {
    transform: scale(2); /* Adjust the scale factor for larger screens */
    box-shadow: 0 0 25px 25px rgba(0, 0, 0, 0.6);
  }
}

@media (min-width: 768px) {
  .image-blob:hover,
  .image-blob:focus {
    transform: scale(2.5); /* Adjust the scale factor for larger screens */
    box-shadow: 0 0 30px 30px rgba(0, 0, 0, 0.6);
  }
}

@media (min-width: 1024px) {
  .image-blob:hover,
  .image-blob:focus {
    transform: scale(3); /* Adjust the scale factor for larger screens */
    box-shadow: 0 0 38px 38px rgba(0, 0, 0, 0.6);
  }
}

@media (min-width: 1280px) {
  .image-blob:hover,
  .image-blob:focus {
    transform: scale(4); /* Adjust the scale factor for larger screens */
    box-shadow: 0 0 50px 50px rgba(0, 0, 0, 0.6);
  }
}
@media (min-width: 1536px) {
  .image-blob:hover,
  .image-blob:focus {
    transform: scale(4.5); /* Adjust the scale factor for larger screens */
    box-shadow: 0 0 58px 58px rgba(0, 0, 0, 0.6);
  }
}
