@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
  background-color: var(--BGCOLOR-PRIMARY);
  color: var(--TEXT-PRIMARY);
  color-scheme: dark;
}

@layer base {
  :root {
    --BRAND: rgb(249 115 22); /*  orange-500 */
    --BRAND-SECONDARY: #1e293b; /*  slate-800 */

    --TEXT-PRIMARY: rgb(230, 230, 230);
    --TEXT-SECONDARY: rgb(163 163 163);
    --TEXT-HIGHLIGHT: rgb(243 244 246);

    --BGCOLOR-PRIMARY: #0369a1; /*  sky-700 */
    --BGCOLOR-SECONDARY: rgb(43, 43, 43);
    --BGCOLOR-HIGHLIGHT: #1e293b; /*  slate-800 */
  }
}

@layer components {
  .large-text {
    @apply text-lg sm:text-xl md:text-2xl lg:text-3xl text-TEXT-HIGHLIGHT whitespace-nowrap;
  }
  .square-in-the-center {
    @apply fixed 
    top-[50%] 
    left-[50%]  
    translate-x-[-50%] 
    translate-y-[-50%] 
  
    bg-slate-800/40 
    backdrop-blur-[5px]
    rounded-lg 
    border 
    border-BGCOLOR
    drop-shadow-[5px_5px_5px_5px_rgba(222,224,228,0.9)] 
     
    w-[63dvw] 
    h-[70dvh]
    md:h-[63dvh] 
    min-w-[320px]
    
    px-[7dvw]
  
    
    flex flex-col items-center justify-center;
  }
}
